/* Заголовок раздела Вход / регистрация */
#h__auth--title {
  font-weight: bold;
  margin: 20px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 320px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid var(--border);
  background: var(--auth-bg);
  border-radius: 8px;
}

.auth__form--hidden {
  display: none;
}

/* Авторизация */
.button--submit, /* кнопка вход */
.button--registration { /* кнопка регистрация */
  width: 90%; 
  margin: 8px auto;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Вкладки */
.auth__tab--login,
.auth__tab--register {
  display: inline-block;
  margin: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid var(--border);
  cursor: pointer;
  background: var(--auth-bg);
}

.auth__form input {
  width: 90%;
  margin: 8px auto;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-sizing: border-box;
}

/* Поле с глазком */
.password-wrapper {
  position: relative;
  width: 90%;
}

.password-wrapper input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* место для глазка */
  border: 1px solid var(--border);
  border-radius: 5px;
  box-sizing: border-box;
}

.password-wrapper .fa-eye,
.password-wrapper .fa-eye-slash {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}