.div__cart--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--border);
}

/* Заголовок раздела Корзина */
#h2__cart--title {
  font-weight: bold;
  margin: 20px;
}

#p__cart--total,
.div__cart--item p {
  font-weight: 500;
  margin: 20px;
}

/* Корзина */
.button--checkout, /* оформить заказ */
.button--catalog-cart, /* в каталог */
.button--remove { /* удалить */
  margin: 20px;
}